---
---
<footer class="w-full border-t border-white/10 py-12 bg-zinc-950 flex flex-col items-center justify-center gap-6 mt-20">
    <a class="text-lg font-black text-white uppercase tracking-tighter" href="/">Paralaje Crítico</a>
    <p class="font-inter text-xs uppercase tracking-widest text-zinc-500">
        © 2026 Paralaje Crítico. ALL RIGHTS RESERVED.
    </p>
</footer>
